@import "./mixins.scss";

.advantages {
  position: relative;
  #about-us {
    position: absolute;
    top: -83px;
  }
  &__block {
    display: flex;

    background-color: #ffffff;
    &__image {
      width: 50%;

      background-image: url("../assets/images/03.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__list {
      width: 50%;
      padding: 6.8rem 13.5rem;
      li {
        display: flex;
        align-items: center;
        max-width: 470px;
        margin-bottom: 2.4rem;
        img {
          margin-right: 1.6rem;
        }
        h5 {
          margin-bottom: 8px;

          font-weight: 600;
          font-size: 1.8rem;
          line-height: 2rem;
          color: #001f23;
        }
        p {
          font-size: 1.4rem;
          line-height: 2rem;
          color: rgba(0, 31, 35, 0.7);
        }
      }
    }
    &__info {
      width: 50%;
      padding: 11.5rem 11rem 11.5rem 13.5rem;
      h3 {
        max-width: 478px;
        margin-bottom: 1.6rem;

        font-weight: 600;
        font-size: 2.8rem;
        line-height: 4.5rem;
        color: #001f23;
      }
      p {
        max-width: 478px;
        margin-bottom: 2rem;

        font-size: 1.6rem;
        line-height: 2.6rem;
        color: rgba(0, 31, 35, 0.7);
      }
    }
  }
  &__block:last-child {
    .advantages__block__image {
      background-image: url("../assets/images/08.png");
    }
  }
}

@media (max-width: 1200px) and (min-width: 426px) {
  .advantages {
    &__block {
      &__image {
        background-position: center;
      }
      &__list {
        padding: 5.8rem 4rem;
        li {
          h5 {
            font-size: 1.6rem;
          }
          p {
            font-size: 1.3rem;
          }
        }
      }
      &__info {
        padding: 5.5rem 4rem;
      }
    }
  }
}

@include tablet() {
  .advantages {
    &__block {
      &__image {
        background-position: left;
      }
    }
  }
}

@include tablet-and-mobile() {
  .advantages {
    #about-us {
      top: -63px;
    }
  }
}

@media(max-width: 550px) {
  .advantages {
    &__block {
      flex-direction: column;
      &__info,
      &__list {
        width: 100%;
        padding: 6rem;
      }
      &__image {
        width: 100%;
        height: 300px;

        background-position: center;
      }
    }
    &__block:last-child {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 360px) {
  .advantages {
    &__block {
      &__info,
      &__list {
        width: 100%;
        padding: 60px 25px;
      }
    }
  }
}
