@import "./mixins.scss";

.doctors {
  position: relative;

  padding: 15.6rem 0;
  h2 {
    margin-bottom: 4rem;

    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: #001f23;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(33.33333% - 2.4rem);
    margin-right: 2.4rem;
    margin-bottom: 2.4rem;

    background-color: #eeedf4;
    &__image {
      background-size: cover;
      background-position: center;
      width: 50%;
      height: 100%;
    }
    &__info {
      width: 50%;
      padding: 2.8rem 1.1rem 2.8rem 1.4rem;
      h5 {
        margin-bottom: 1.2rem;

        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
      p {
        margin-bottom: 1.2rem;

        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #001f23;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__card:nth-child(3n) {
    margin-right: 0;
  }
  &__card:first-child {
    .doctors__card__image {
      background-image: url("../assets/images/natalia.png");
    }
  }
  &__card:nth-child(2) {
    .doctors__card__image {
      background-image: url("../assets/images/victor.png");
    }
  }
  &__card:nth-child(3) {
    .doctors__card__image {
      background-image: url("../assets/images/stepan.png");
    }
  }
  &__card:nth-child(4) {
    .doctors__card__image {
      background-image: url("../assets/images/tatsianaK.png");
    }
  }
  &__card:nth-child(5) {
    .doctors__card__image {
      background-image: url("../assets/images/julia.png");
    }
  }
  &__card:last-child {
    .doctors__card__image {
      background-image: url("../assets/images/tatsianaR.png");
    }
  }
}

@media (max-width: 1260px) {
  .doctors {
    padding: 9.6rem 0;
    &__card {
      width: calc(50% - 1.2rem);
      &__info {
        h5 {
          font-size: 1.6rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
    &__card:nth-child(3n) {
      margin-right: 2.4rem;
    }
    &__card:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 835px) and (min-width: 426px) {
  .doctors {
    &__card {
      &__info {
        h5 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .doctors {
    &__list {
      justify-content: space-between;
    }
    &__card {
      flex-direction: column;
      &__image{
        width: 100%;
        height: 170px;
      }
      &__info {
        width: 100%;
        padding: 2.8rem 4rem;

        text-align: center;
        h5 {
          font-size: 1.7rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .doctors {
    &__card {
      &__info {
        padding: 2.8rem 2rem;
        h5 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
