@font-face {
  font-weight: 400;
  font-family: "Golos", sans-serif;

  src: url("../assets/fonts/Golos Text_VF.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "Golos", sans-serif;

  src: url("../assets/fonts/Golos Text_DemiBold") format("truetype");
}
